<a href="https://colab.research.google.com/github/krish-source/My-project-soruce1/blob/main/ReadDataFromGSheets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import auth
auth.authenticate_user()
import requests
import gspread
from oauth2client.client import GoogleCredentials
gc = gspread.authorize(GoogleCredentials.get_application_default())

Go to the following link in your browser:

    https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=32555940559.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=openid+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcloud-platform+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fappengine.admin+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcompute+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Faccounts.reauth+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&state=IXFG93v2tiBbvHG7oIeXw1Cbs8hsgt&prompt=consent&access_type=offline&code_challenge=yCVEoW3lw2qF71ujaJzitahqdpoq60Vh1kJc6RORqv8&code_challenge_method=S256

Enter verification code: 4/1AX4XfWi3-wp35ZX17eCB_pf2eBe1mTTXBDOwicQe1iPe6u-rSTd9UCx-JIc

In [2]:
worksheet = gc.open('Performance_data').sheet1

# get_all_values gives a list of rows.
rows = worksheet.get_all_values()
print(rows)

[['Name', 'Total Contacts', 'Avail Time', 'Email AHT (minutes)', 'Phone AHT (minutes)', 'Email CPH', 'Phone CPH', 'Financial CPH', 'NPT (%)', 'Unplanned NPT Hours', 'Email Time', 'Logged Hours', 'Email NRR (%)', 'Phone NRR (%)', 'Email HMD Yes', 'Email HMD No', 'Phone HMD Yes', 'Phone HMD No', 'Resolved Follow Ups', 'Missed Contacts'], ['Agent 1', '173', '2.06', '15.43', '15.22', '3.89', '3.94', '3.24', '13.31%', '5.60', '23.14', '53.36', '0.00%', '16.67%', '10', '0', '5', '1', '10', '4'], ['Agent 2', '205', '2.28', '18.72', '13.81', '3.21', '4.35', '3.27', '9.42%', '1.65', '27.77', '62.64', '11.76%', '13.33%', '15', '2', '13', '2', '9', '7'], ['Agent 3', '0', '0.00', '', '', '', '', '', '', '-0.50', '0.00', '0.00', '', '', '0', '0', '0', '0', '', '0'], ['Agent 4', '137', '3.71', '11.33', '18.56', '5.30', '3.23', '3.41', '10.50%', '0.47', '15.86', '40.19', '25.00%', '0.00%', '12', '4', '6', '0', '10', '13'], ['Agent 5', '200', '4.03', '12.89', '12.57', '4.65', '4.77', '3.70', '13.84%', '4.23', '25.14', '54.04', '20.00%', '0.00%', '20', '5', '6', '0', '14', '11'], ['Agent 6', '234', '2.06', '15.94', '14.06', '3.76', '4.27', '3.38', '13.11%', '5.08', '28.16', '69.29', '14.29%', '0.00%', '12', '2', '13', '0', '10', '22'], ['Agent 7', '184', '1.35', '17.67', '16.62', '3.39', '3.61', '2.98', '12.66%', '5.56', '25.92', '61.67', '28.57%', '0.00%', '10', '4', '14', '0', '4', '17']]

In [3]:
import pandas as pd

In [4]:
#Creating a data frame
df_gsheets = pd.DataFrame.from_records(rows)

In [5]:
df_gsheets

        0               1   ...                   18               19
0     Name  Total Contacts  ...  Resolved Follow Ups  Missed Contacts
1  Agent 1             173  ...                   10                4
2  Agent 2             205  ...                    9                7
3  Agent 3               0  ...                                     0
4  Agent 4             137  ...                   10               13
5  Agent 5             200  ...                   14               11
6  Agent 6             234  ...                   10               22
7  Agent 7             184  ...                    4               17

[8 rows x 20 columns]

In [6]:
df_gsheets.dtypes

0     object
1     object
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
11    object
12    object
13    object
14    object
15    object
16    object
17    object
18    object
19    object
dtype: object

In [7]:
df_gsheets.describe()

             0    1     2      3      4     5   ...  14 15  16 17  18  19
count         8    8     8      8      8     8  ...   8  8   8  8   8   8
unique        8    8     7      8      8     8  ...   6  5   6  4   6   8
top     Agent 7  173  2.06  17.67  18.56  3.39  ...  10  0  13  0  10  17
freq          1    1     2      1      1     1  ...   2  2   2  5   3   1

[4 rows x 20 columns]

In [8]:
len(df_gsheets)

8

In [9]:
df_gsheets.fillna(0)

        0               1   ...                   18               19
0     Name  Total Contacts  ...  Resolved Follow Ups  Missed Contacts
1  Agent 1             173  ...                   10                4
2  Agent 2             205  ...                    9                7
3  Agent 3               0  ...                                     0
4  Agent 4             137  ...                   10               13
5  Agent 5             200  ...                   14               11
6  Agent 6             234  ...                   10               22
7  Agent 7             184  ...                    4               17

[8 rows x 20 columns]